@media (max-width: 425px){
    .itens {
        display: flex;
        align-items: center;
        display: none;
    }
    
    .manu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .menuhambuguer{
        display: flex;
        margin-right: 2rem;
    }

    .logo {
        margin-left: 2rem;
    }

}